<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Log In</title>
    </head>
    <body>
        <h1>Log In</h1>
        <i>Click <a href="/auth/github">here</a> to sign in with Github.</i>
    </body>
</html>